@import "app.component.scss";

.container { padding: 3rem; }

// Header
.header {
    @include font(1.25rem, 300);
    color: $white;
}

sub {
    @include font(0.9rem, 400);
    display: block;
    color: $gray-500;
}

// Grid
section {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 3rem;
    color: $white;
    margin-top: 1rem;

    .row {
        @include flex(space-between, center, 1rem);
        
        &:not(:has(.income)) { margin-top: 2rem; }
    }    
}

// Income
.income {
    @include flex(left, center, 0.5rem);
    position: relative;
}

// Cash
.cash {
    @include font(2.5rem, 200);
    color: $white;
    letter-spacing: 0.25rem;

    &::before {
        content: "€";
        margin-right: 0.5rem;
    }
}

// Change
@mixin change($c, $bc) {
    @include flex(center, center, 0);
    @include font(0.8rem, 400);
    color: saturate($c, 50%);
    background-color: saturate($bc, 50%);
    padding-right: 0.5rem;

    &::after { content: "%"; }
}

.up { @include change($green-200, $green-800); }
.down { @include change($red-200, $red-800); }

// Diagnostic
.diagnostic {
    @include flex(center, center, 0.5rem);
    @include font(0.9rem, 400);
    @include size(max-content, 3rem);
    color: $white;
    background-color: $blue;
    padding: 3px 1rem 3px 3px;
    cursor: pointer;
    transition: 0.3s all;

    &:hover { background-color: $blue-600 }

    i {
        @include flex(center, center, 0);
        @include font(1.25rem, 300);
        @include size(calc(3rem - 6px), 100%);
        background-color: $blue-800;
    }
}

// Indicator
.indicator {
    @include flex(left, center, 0.5rem);
    @include size(100%, 100%);
    background-color: $blue-800;
    padding: 2rem;

    > i  {
        @include font(3.5rem, 300);
        color: $blue-400;
    }

    p {
        @include flex(left, center, 0);
        @include font(1.5rem, 300);
        color: $white;

        .unit {
            @include font(0.9rem, 300);
            margin: 0.5rem 0.5rem 0 0.25rem;
        }

        + span { @include font(1rem, 300); }        
    }
    
    span:not(.up, .down) { color: $gray-500; }
}

// Map
.map {
    @include flex(left, center, 1rem);

    .issue {
        @include font(0.8rem, 400);
        color: saturate($red-200, 50%);
        background-color: saturate($red-800, 50%);
        padding: 0.125rem 0.5rem;
    }

    + p {
        @include font(0.9rem, 400);
        color: $gray-500;
    }
}

// Chart
.chart {
    @include flex(center, center, 0);
    @include size(100%, 75%);
    color: $blue-600;
    border: 2px dashed $blue-700;
    margin: 1rem 0;
}