@import "app.component.scss";

.container {
    @include flex(center, flex-start, 0);
    @include size(100%, 100%);
    flex-direction: column;

    * { transition: 0.2s all; }

    a {
        @include flex(flex-start, center, 1rem);
        @include size(100%, 3rem);
        padding: 1rem;
        color: $gray-600;

        &:hover { color: $white; }

        i { color: $blue-700; }

        &.selected {
            color: $white;
            background-color: $blue-800;
        
            i { color: $blue-400; }
        }
    }
}