@import "app.component.scss";

.container {
    text-align: center
}

.photo {
    @include size(4rem, 4rem);
    min-width: 4rem;
    margin: auto;
    border-radius: 50%;
    background-size: cover;
    background-position: center top;
    background-image: url(../../../../assets/img/user.jpg);
}

p {
    @include font(0.9rem, 300);
    margin: 0.5rem;
    color: $blue-300
}

a {
    @include font(0.8rem, 600);
    color: $blue-500;
    transition: 0.2s all;

    &:hover { color: $blue-200; }
}